<section id="footer">
	<div class="inner">

		<div class="row">

			<div class="5u 12u$(xsmall)">
				<%= link_to image_tag('logo-dark.png'), "/", :class => 'logo' %>
				<ul class="actions">
					<li><span class="icon fa-envelope"></span> <a href="#">help@example.com</a></li>
				</ul>
				<div class="copyright">
					&copy; 2017 Ratchet Labs.
					<%= link_to 'Impressum/Imprint', '/imprint' %>. <%= link_to 'Disclaimer', "/disclaimer" %>.
					<%= link_to 'Privacy Policy', "/privacy" %>
				</div>
			</div>

			<div class="3u 12u$(xsmall)">
				<h4>More Links</h4>
				<ul class="categories">
					<li><%= link_to 'Link1', page_path('static') %></li>
					<li><%= link_to 'Link2', page_path('static') %></li>
					<li><%= link_to 'Link3', page_path('static') %></li>
				</ul>
			</div>

			<div class="4u 12u$(xsmall)">
				<h4>Find us elsewhere</h4>
				<ul class="icons">
					<li><a href="https://www.facebook.com/" class="icon fa-facebook" target="_blank"><span class="label">Facebook</span></a></li>
					<li><a href="https://www.instagram.com/" class="icon fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
					<li><a href="https://www.pinterest.com/" class="icon fa-pinterest" target="_blank"><span class="label">Twitter</span></a></li>
					<li><a href="https://twitter.com/" class="icon fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
				</ul>
			</div>

		</div>

	</div>
</section>
