
<section id="details">
	<div class="inner">
		<h3><%= @results[0][:title] %></h3>
		<p><%= @results[0][:summary] %></p>
		<p><%= @results[0][:details]['review'] %></p>
		<%= render :partial => "feature", :collection => @features %>
		<%= render :partial => "related", :collection => @related %>
	</div>
</section>
