<% content_for :title do %><%= "#{@results['title']} - #{application_name}" %><% end %>
<% content_for :description do %><%= "#{@results['summary']}" %><% end %>

<section id="item">
	<div class="inner">

		<div class="description">
			<h3><%= @results['title'] %></h3>
			<p><%= @results['summary'] %></p>
			<p><%= @results['review'] %></p>
		</div>

		<div class="details">

			<% if @results['price'] == 0 %>
			FREE
			<% else %>
				<%= @results['formatted_price'] %>
			<% end %>

			(#<%= @results['asin'] %>
			<% if @results['sales_rank'] != 0 %>
			- Sales Rank <%= @results['sales_rank'] %>
			<% end %>
			)

			<%= link_to "More Info ...", @affiliate_link, { :class => "button action"} %>
		</div>

		<div class="related">
			<div class="row 50% uniform">
				<%= render :partial => "related", :collection => @related %>
			</div>
		</div>

	</div>
</section>
